Bitwarden/*
Code - OSS/*
Electron/*
JetBrains/*
Pinta/palette.txt
Pinta/settings.xml
QtProject.conf
autostart/ProtonMail Bridge.desktop
dconf/user
emaildefaults
font-manager/Collections.json
gtk-3.0/bookmarks
htop/htoprc
light/targets/sysfs/backlight/auto/minimum
lsp-plugins/lsp-plugins.cfg
mimeapps.list
mpd/database
mpd/log
mpd/mpd.conf
mpd/pid
mpd/playlists
mpd/state
ncmpcpp/.lyrics/*
ncmpcpp/error.log
pavucontrol.ini
protonmail/bridge/cache/c11/mailbox-Xwe1_G9KJkPrxl8OJMnzGoVCGXIRroJDyZ8xICGMHuZwAl9Hk-Fakz5Vc7giN5Eha_LXH2aVIFfpOfRPyXZYJA==.db
protonmail/bridge/cache/c11/user_info.json
protonmail/bridge/cert.pem
protonmail/bridge/key.pem
protonmail/bridge/prefs.json
pulse/*
pulse/cookie
sqlitebrowser/sqlitebrowser.conf
systemd/user/default.target.wants/mpd.service
systemd/user/default.target.wants/pipewire-pulse.service
systemd/user/default.target.wants/pulseaudio.service
systemd/user/graphical-session.target.wants/flashfocus.service
systemd/user/resume-hibernate.service
systemd/user/sockets.target.wants/pipewire-pulse.socket
systemd/user/sockets.target.wants/pulseaudio.socket
systemd/user/sway-session.target
user-dirs.dirs
wallpapers/wallpaper
wallpapers/wallpaper-dark.png
wallpapers/wallpaper-light.png
